.header {
  color: whitesmoke;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}

.header::-webkit-scrollbar {
  display: none;
}

.header {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header > img {
  object-fit: contain;
  height: 80px;
}

.header-icons {
  display: flex;
  align-items: center;
  text-align: center;
}

.header-icon {
  display: flex;
  flex-direction: column;
  width: 100px;
  cursor: pointer;
}

.header-icon > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

.header-icon > p {
  display: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}

.header-icon:hover > p {
  display: inline;
}

.header-icon--active > p {
  display: inline-flex !important;
}
